.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border-radius: 25px;
}

.example-full-width {
  width: 90%;
  border-radius: 25px;
  height: 1%;
  background-color: white;
}

mat-label {
  font-size: 14px;
}

input[type="search"].dark {
  background: #cbc4c4;
  color: #fff;
  border-radius: 25px;
}

input[type="search"].light {
  background: #cbc4c4;
  color: #222;
  border-radius: 25px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

input {
  border-radius: 25px;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 100px !important;
  min-width: 28px !important;
}
