<div>
  <form class="example-form" [formGroup]="parentForm">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label style="color: black">{{ label }}</mat-label>
      <input
        style="color: black"
        type="search"
        placeholder=""
        [formControlName]="formName"
        aria-label=""
        matInput
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
