.content {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.data {
  margin-left: 13%;
  margin-right: 11%;
}
mat-spinner {
  position: absolute;
  left: 50%;
  margin: -50px 0 0 -50px;
  transform: translateY(75%);
}

.small-spinner {
  left: 70%;
  transform: scale(80%);
}

.spacer {
  min-height: 30%;
  min-width: 30%;
}

p {
  margin-top: 1%;
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 1200px;
  max-height: 500px;
  border-radius: 11px;
}

.newReservationBtn {
  color: white;
  background: #2b3d41;
  width: 180%;
  margin-right: 3%;
}

.reservationViewButton {
  color: white;
  background: #2b3d41;
  width: 180%;
  margin-right: 3%;
}

.newReservationBtn:disabled {
  color: gray;
  cursor: not-allowed;
}

app-autocomplete-input {
  margin-right: 0.2%;
}

.flex {
  display: flex;
}

.newReservation {
  display: flex;
  flex-direction: row;
}

mat-paginator {
  margin-top: 0.1%;
}

.filters {
  display: flex;
  flex-direction: row;
}

.filters > p {
  margin-right: 2%;
}

.material-icons {
  padding-top: 5px;
  margin-left: 4px;
  font-family: "Material Icons" !important;
}

.visibility {
  vertical-align: center;
}

.visibility > span {
  transform: translateY(20%);
}
