<div class="content" *ngIf="!loadingOfferInfo; else loading">
  <img src="{{ offer.thumbnail_url }}" alt="obrazek" />

  <div class="details">
    <div style="font-weight: 595">
      <p>Gdzie:</p>
      <p>Operator:</p>
      <p>Przyjazd dnia:</p>
      <p>Wyjazd dnia:</p>
      <p>Transport:</p>
    </div>
    <div class="data">
      <p>{{ offer.country }}, {{ offer.city }}</p>
      <p>{{ offer.operator }}</p>
      <p>{{ offer.arrival_date }}</p>
      <p>{{ offer.departure_date }}</p>
      <p>{{ offer.transport }}</p>
    </div>

    <div>
      <div *ngIf="offer.number_of_kids && isOffer" class="flex">
        <app-autocomplete-input
          [parentForm]="kidsForm"
          [options]="numberOptions"
          [label]="'Dzieci do 3 lat'"
          [formName]="'kidsUpTo3'"
          (valueChangedEvent)="handleUpTo3ValueChange($event)"
        >
        </app-autocomplete-input>
        <app-autocomplete-input
          [parentForm]="kidsForm"
          [options]="numberOptions"
          [label]="'Dzieci do 10 lat'"
          [formName]="'kidsUpTo10'"
          (valueChangedEvent)="handleUpTo10ValueChange($event)"
        >
        </app-autocomplete-input>
      </div>

      <p *ngIf="tooMuchKids"><strong>Nieprawidłowa konfiguracja.</strong></p>
    </div>
  </div>
  <p>{{ offer.description }}</p>
  <div class="newReservation">
    <p style="font-size: 22px">
      <span style="font-weight: 595">Cena:</span>
      {{ offerPrice }} PLN
    </p>

    <div style="float: right; margin-left: 3%">
      <button
        class="newReservationBtn"
        *ngIf="isOffer && offer.is_available && !isTour; else reservationView"
        (click)="makeNewReservation()"
        mat-raised-button
        [disabled]="tooMuchKids"
      >
        Rezerwuję
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #reservationView>
  <div *ngIf="!isOffer; else offerNotAvailable">
    <div
      style="display: flex"
      *ngIf="
        reservation.state === 'accepted' || reservation.state === 'pending'
      "
    >
      <button
        mat-raised-button
        class="reservationViewButton"
        *ngIf="reservation.state === 'accepted'"
        (click)="payForReservation()"
      >
        Zapłać
      </button>
      <button
        class="reservationViewButton"
        mat-raised-button
        (click)="doCancelReservation()"
      >
        Odwołaj
      </button>
    </div>
  </div>
</ng-template>

<ng-template #offerNotAvailable>
  <strong><h2>Oferta nie jest dostępna</h2></strong>
</ng-template>
