<div class="image">
  <img src="/assets/img/background-img.png" />
</div>

<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="login()">
      <app-autocomplete-input
        [options]="loginOptions"
        [label]="'Adres e-mail'"
        [formName]="'email'"
        [parentForm]="form"
      ></app-autocomplete-input>

      <button
        mat-raised-button
        style="background: #2b3d41; color: white; width: 15%"
      >
        Zaloguj się
      </button>
    </form>
  </div>
</div>
