<div
  class="image"
  style="background-image: url('/assets/img/background-img.png')"
>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Logowanie</mat-label>
          <mat-select formControlName="email">
            <mat-option *ngFor="let option of loginOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-raised-button
          style="
            background: #2b3d41;
            color: white;
            height: 3.4rem;
            transform: translate(0, -18%);
          "
        >
          Zaloguj się
        </button>
      </form>
    </div>
  </div>
</div>
