<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />
    <title>RSWW</title>
  </head>
  <p class="toolbar">
    <mat-toolbar color="white">
      <img
        class="logo"
        src="assets/img/crazy-travel-logo.png"
        (click)="goHome()"
        alt="logo"
      />
      <span class="example-spacer"></span>
      <div *ngIf="authService.userIsAuthenticated">
        <p
          style="
            font-size: 13px;
            position: relative;
            transform: translateY(20%);
            padding-right: 10px;
          "
        >
          {{ this.username }}
        </p>
      </div>
      <button
        *ngIf="authService.userIsAuthenticated"
        mat-raised-button
        (click)="goEventDashboard()"
      >
        Panel Eventów
      </button>

      <button
        *ngIf="authService.userIsAuthenticated"
        mat-raised-button
        (click)="goReservationList()"
      >
        Moje rezerwacje
      </button>
      <button
        mat-raised-button
        *ngIf="!authService.userIsAuthenticated; else logout"
        (click)="goLogin()"
      >
        Zaloguj się
      </button>
    </mat-toolbar>
  </p>
  <body>
    <main>
      <router-outlet></router-outlet>
    </main>
  </body>
</html>

<ng-template #logout>
  <button mat-raised-button (click)="logoutUser()">
    Wyloguj się
    <span class="material-icons" iconPositionEnd> exit_to_app </span>
  </button>
</ng-template>
