<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />
    <title>RSWW</title>
  </head>
  <p class="toolbar">
    <mat-toolbar color="primary">
      <span (click)="goHome()">{{ title }}</span>
      <span class="example-spacer"></span>
      <button mat-raised-button>Zaloguj się</button>
      <button *ngIf="false" mat-raised-button>Wyloguj się</button>
    </mat-toolbar>
  </p>
  <body>
    <main>
      <router-outlet></router-outlet>
    </main>
  </body>
</html>
