.details > button {
  max-height: 50%;
  max-width: 100%;
  margin-top: 2%;
  margin-bottom: 15%;
  color: white;
  background: #2b3d41;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  transform: translateY(75%);
}

.reservation {
  border: 1px solid;
  border-radius: 10px;
  border-color: lightgrey;
  padding: 1%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 50vh;
  height: 25vh;
  border-radius: 11px;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.data {
  margin-left: 4%;
}

.details > p {
  font-weight: 595;
}

.buttons > button {
  margin-right: 3%;
  width: 30%;
  color: white;
  background: #2b3d41;
}
.buttons {
  margin-left: 4%;
}
