<div class="content">
  <h3>Twoje rezerwacje:</h3>

  <div *ngIf="loaded; else loading">
    <ul>
      <li *ngFor="let reservation of reservations">
        <div class="reservation">
          <p>Id rezerwacji: {{ reservation.id }}</p>
          <p>Id oferty: {{ reservation.offer_id }}</p>
          <p>Stan rezerwacji: {{ reservation.state }}</p>
          <p *ngIf="reservation.state === 'rejected'">
            Powód odrzucenia: {{ reservation.rejection_reason }}
          </p>

          <button
            mat-raised-button
            (click)="navigateToReservation(reservation.offer_id)"
          >
            Zobacz
          </button>
          <button mat-raised-button (click)="deleteReservation(reservation.id)">
            Usuń
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
