.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

table {
  width: 100%;
}

.mat-paginator-range-label {
  display: none;
}

.offer {
  border: 2px solid purple;
  margin-top: 2%;
  margin-right: 2%;
  padding: 2%;
}

img {
  max-width: 35%;
  max-height: 35%;
}
