.mat-paginator-range-label {
  display: none;
}

.offer {
  margin-top: 0.5%;
  margin-right: 2%;
  padding: 1%;
  border: 1px solid;
  border-radius: 10px;
  border-color: lightgrey;
}

img {
  width: 50vh;
  height: 25vh;
  border-radius: 11px;
}

.image {
  margin-right: 3%;
}

mat-spinner {
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  transform: translateY(75%);
}

h2 {
  text-align: center;
  margin-top: 2%;
}

ul {
  list-style-type: none;
}

.offer {
  display: flex;
}

.offer:hover {
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  justify-content: space-between;
}

.next-details {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  justify-content: space-between;
}
