<div class="formParent" *ngIf="optionsLoaded; else loading">
  <form [formGroup]="submitForm" (ngSubmit)="submitSearch()">
    <div class="formDiv">
      <div class="input">
        <app-autocomplete-input
          [options]="countryOptions"
          [label]="'Dokąd się wybierasz?'"
          [formName]="'country'"
          [parentForm]="submitForm"
        ></app-autocomplete-input>
      </div>
      <div class="input-calendar">
        <mat-form-field appearance="outline" style="max-width: 100%">
          <mat-label style="color: black">Od kiedy do kiedy</mat-label>
          <mat-date-range-input [formGroup]="submitForm" [rangePicker]="picker">
            <input
              style="color: black; font-size: 13px"
              matStartDate
              formControlName="startDate"
              placeholder=""
            />
            <input
              style="color: black; font-size: 13px"
              matEndDate
              formControlName="endDate"
              placeholder=""
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error
            *ngIf="range.controls.start.hasError('matStartDateInvalid')"
            >Invalid start date</mat-error
          >
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
            >Invalid end date</mat-error
          >
        </mat-form-field>
      </div>
      <button class="bf-button" type="submit" mat-raised-button>
        Szukaj <span class="material-icons" iconPositionEnd> search </span>
      </button>
    </div>
  </form>
</div>

<div *ngIf="loaded; else loading">
  <div *ngIf="data.result.length > 0; else noContent">
    <div>
      <ul>
        <li *ngFor="let offer of data.result">
          <div class="offer" (click)="navigateToTour(offer.id)">
            <div class="image">
              <img src="{{ offer.thumbnail_url }}" alt="obrazek" />
            </div>
            <div class="details">
              <p>
                <strong>Gdzie: </strong>
              </p>

              <p><strong>Hotel: </strong></p>
              <p><strong>Przyjazd dnia: </strong></p>
              <p><strong>Wyjazd dnia: </strong></p>
              <p><strong>Transport: </strong></p>
              <p *ngIf="offer.transport === 'plane'">
                <strong>Wylot z: </strong>
              </p>

              <p><strong>Cena: </strong></p>
            </div>

            <div class="next-details">
              <p>{{ offer.country }}, {{ offer.city }}</p>

              <p>{{ offer.hotel }}</p>
              <p>{{ offer.arrival_date }}</p>
              <p>{{ offer.departure_date }}</p>
              <p *ngIf="offer.transport === 'plane'; else transportSelf">
                Samolot
              </p>
              <p *ngIf="offer.transport === 'plane'">
                {{ offer.departure_city }}
              </p>
              <p style="font-weight: 696">od {{ offer.lowest_price }} PLN</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<mat-paginator
  [pageSizeOptions]="[25]"
  (page)="pageEvent = $event; onPaginateChange($event)"
  [length]="this.data ? this.data.max_page * 25 : 0"
  showFirstLastButtons
>
</mat-paginator>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #noContent>
  <h2>Nie znaleziono ofert dla wybranych filtrów.</h2>
</ng-template>

<ng-template #transportSelf>
  <p>Na własną rękę</p>
</ng-template>
