<div
  class="image"
  style="background-image: url('/assets/img/background-img.png')"
></div>

<div class="formParent" *ngIf="loaded; else loading">
  <form [formGroup]="submitForm" (ngSubmit)="submitSearch()">
    <div class="formDiv">
      <div class="input">
        <app-autocomplete-input
          [options]="countryOptions"
          [label]="'Dokąd się wybierasz?'"
          [formName]="'country'"
          [parentForm]="submitForm"
        ></app-autocomplete-input>
      </div>
      <div class="input-calendar">
        <mat-form-field appearance="outline" style="max-width: 100%">
          <mat-label style="color: black">Od kiedy do kiedy</mat-label>
          <mat-date-range-input [formGroup]="submitForm" [rangePicker]="picker">
            <input
              style="color: black; font-size: 13px"
              matStartDate
              formControlName="startDate"
              placeholder=""
            />
            <input
              style="color: black; font-size: 13px"
              matEndDate
              formControlName="endDate"
              placeholder=""
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label style="color: black">Ilość dorosłych</mat-label>

        <mat-select required formControlName="adultNumber"
          ><mat-option
            *ngFor="let number of adultNumberOptions"
            [value]="number"
          >
            {{ number }}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="!submitForm.controls.adultNumber.valid"
          >Uzupełnij liczbę dorosłych</mat-hint
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label style="color: black">Ilość dzieci</mat-label>
        <mat-select required formControlName="childrenNumber"
          ><mat-option
            *ngFor="let number of childrenNumberOptions"
            [value]="number"
          >
            {{ number }}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="!submitForm.controls.childrenNumber.valid"
          >Uzupełnij liczbę dzieci</mat-hint
        >
      </mat-form-field>

      <button
        [disabled]="!submitForm.valid"
        class="bf-button"
        type="submit"
        mat-raised-button
      >
        Szukaj <span class="material-icons" iconPositionEnd> search </span>
      </button>
    </div>
  </form>
</div>

<div class="additional">
  <div class="mini-additional">
    <p class="upper-text">Wyjazd z rodziną</p>
    <br /><img src="assets/img/add-2.png" />
    <p>Zaplanujemy bezpieczny wyjazd za Ciebie</p>
  </div>
  <div class="mini-additional">
    <p class="upper-text">Najpopularniejsze kierunki</p>
    <div class="top5">
      <p>Polska</p>
      <p>Niemcy</p>
      <p>Bali</p>
      <p>Szwecja</p>
      <p>Egipt</p>
    </div>
    <p>Podróż w najbardziej urokliwe miejsca</p>
  </div>
  <div class="mini-additional">
    <p class="upper-text">Najczęściej wybierane hotele</p>
    <div class="top5">
      <p>Grand Marcel Hotel</p>
      <p>Villa Meyer</p>
      <p>Mazur Lazur Plaza</p>
      <p>LukiBed</p>
      <p>Ibiza Giżycko</p>
    </div>
    <p>Najciekawsze oferty</p>
  </div>
  <div class="mini-additional">
    <p class="upper-text">Najpopularniejsze pokoje</p>
    <div class="top5">
      <p>Grand Marcel Hotel</p>
      <p>Villa Meyer</p>
      <p>Mazur Lazur Plaza</p>
      <p>LukiBed</p>
      <p>Ibiza Giżycko</p>
    </div>
    <p>Ciesz się szerokim wyborem pokoju</p>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
