h3 {
  padding: 10px;
}

.bf-button {
  min-width: 4%;
  min-height: 10%;
  display: flex;
}

.formDiv {
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  transform: translateX(2.5%);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  transform: translateY(40%);
}

h1,
h2 {
  padding-top: 1rem;
  padding-left: 1rem;
}

.input {
  box-shadow: black;
}

.input-calendar {
  max-width: 25%;
  color: black;
}

mat-spinner {
  position: absolute;
  left: 50%;
  margin: -50px 0 0 -50px;
  transform: translateY(75%);
}

.image {
  display: flex;
  height: 45%;
  width: 165%;
  transform: translate(-18.5%, -40%);
}

.formParent {
  margin-top: 3%;
}

.additional {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.mini-additional {
  margin-top: 4%;
  margin-right: 1%;
}

.mini-additional > img {
  margin-left: 15%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-13%, -8%);
}

.upper-text {
  font-family: "Lato", serif;
  font-style: normal;
  font-weight: 540;
  font-size: 18px;
}
