h3 {
  padding: 10px;
}

.bf-button {
  min-width: 12%;
  min-height: 90%;
  transform: translateY(25%);
  color: white;
  background-color: #2b3d41;
}

.formDiv {
  display: flex;
  flex-direction: row;
  transform: translateX(1%);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  transform: translateY(40%);
}

h1,
h2 {
  padding-top: 1rem;
  padding-left: 1rem;
}

.input {
  /*box-shadow: black;*/
}

.input-calendar {
  max-width: 20%;
  margin-right: 2.5%;
  font-size: 11px;
}

mat-spinner {
  position: absolute;
  left: 50%;
  margin: -50px 0 0 -50px;
  transform: translateY(75%);
}

.image {
  display: flex;
  height: 40vh;
  width: 380vh;
  transform: translate(-36.5%, -40%);
}

.formParent {
  margin-top: 4%;
}

.additional {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 3%;
}

.mini-additional {
  margin-top: 4%;
  margin-right: 1%;
}

.mini-additional > img {
  margin-left: 15%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-13%, -8%);
}

.upper-text {
  font-family: "Lato", serif;
  font-style: normal;
  font-weight: 540;
  font-size: 18px;
}

app-autocomplete-input {
  /*margin-right: 0.5%;*/
}

mat-label {
  font-size: 14px;
}

.input-calendar > input {
  font-size: 11px;
}
